<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>365548477394-rj54ifohh9dta0avbcltbincs0sd0332.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.365548477394-rj54ifohh9dta0avbcltbincs0sd0332</string>
	<key>API_KEY</key>
	<string>AIzaSyDu-8-ddSLaFNsyCRxCChecea2EG5wIhfU</string>
	<key>GCM_SENDER_ID</key>
	<string>365548477394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Manhattan-College.Scavenger-Hunt</string>
	<key>PROJECT_ID</key>
	<string>scavenger-hunt-8d4db</string>
	<key>STORAGE_BUCKET</key>
	<string>scavenger-hunt-8d4db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:365548477394:ios:70f01794cafdee21b5460b</string>
</dict>
</plist>